:root {
    --color-gray: #8B8E99;
    --color-white: #fff;
    --color-primary: #3858d6;
    --color-off-white: #e9e9e962;
  }
#about{
    height: 40.625rem;
    width: 100%;
    /* background-color:var(--color-gray); */
}