:root {
  --color-gray: #8B8E99;
  --color-white: #fff;
  --color-primary: #3858d6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  height: 100vh;
  max-height: 800px;
  background: url(../img/LandingPage/bgHeader.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  position: relative;
  box-shadow: 0px 0px 10px black;
}

ul, li {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--color-gray);
  transition: 300ms all ease;
}

li:hover {
  opacity: 0.9;
}

a.hover {
  opacity: 0.4;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  filter: drop-shadow(0px 0px 10px black);
  line-height: 4.3rem;
}

h2 {
  font-size: 3rem;
  color: var(--color-gray);
  font-weight: 500;
}

.btn {
  padding: 10px 30px;
  font-size: 0.9rem;
  border-radius: 10px;
}

button.primary {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
}

button.secondary {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.search-box {
  background: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  border-radius: 10px;
  width: 400px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: .8rem;
  color: var(--color-gray);
  width: 250px;
}

.search-box i {
  color: var(--color-primary);
  margin-left: 15px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  z-index: 2;
  color: var(--color-gray);
  font-weight: 600;
}

nav .logo img {
  height: 30px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav a {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  color: var(--color-gray);
}

header>.container {
  display: flex;
  align-items: center;
  max-height: 700px;
  padding: 200px 0 0;
}

header .header-text {
  position: relative;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  margin-left: 50px;
  z-index: 2;
}

header .hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Newest Collection */
#new-collection {
  padding: 60px 0;
  text-align: center;
}

#new-collection h2 {
  margin-bottom: 40px;
  
}

#new-collection .collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

#new-collection .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: .9rem;
}

#models {
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: black;
  color: var(--color-white);
}

#models .btns {
  margin-bottom: 80px;
}