:root {
  --color-gray: #8B8E99;
  --color-white: #fff;
  --color-primary: #3858d6;
  --color-off-white: #e9e9e962;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  height: 100vh;
  max-height: 800px;
  background: url(../img/LandingPage/bgHeader.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  position: relative;
  box-shadow: 0px 0px 10px black;
}

img {
  object-fit: contain;
}

ul,
li {
  margin-bottom: 0;
}

input:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: var(--color-gray);
  transition: 300ms all ease;
}

i {
  font-style: normal;
}

li:hover {
  opacity: 0.9;
}

a.hover {
  opacity: 0.4;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  filter: drop-shadow(0px 0px 10px black);
  line-height: 4.3rem;
}

h2 {
  font-size: 3rem;
  color: var(--color-gray);
  font-weight: 500;
}

.btn {
  padding: 10px 30px;
  font-size: 0.9rem;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--color-primary);
  opacity: .8;
  color: #fff;
  transition: .3s ease;
  cursor: pointer;
}

.btn-big {
  padding: 15px 40px;
  font-weight: 600;
  font-size: 1.1rem;
}

button.primary {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
}

button.secondary {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.search-box {
  background: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  border-radius: 10px;
  width: 400px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: .8rem;
  color: var(--color-gray);
  width: 250px;
}

.search-box i {
  color: var(--color-primary);
  margin-left: 15px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(3px) saturate(126%);
  -webkit-backdrop-filter: blur(3px) saturate(126%);
  background-color: rgba(255, 255, 255, 0.21);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  z-index: 2;
  color: var(--color-gray);
  font-weight: 600;
}

nav .logo img {
  height: 30px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav a {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  color: var(--color-gray);
}

header>.container {
  display: flex;
  align-items: center;
  max-height: 700px;
  padding: 200px 0 0;
}

header .header-text {
  position: relative;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  margin-left: 50px;
  z-index: 2;
}

header .hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Newest Collection */
#new-collection {
  padding: 70px 0;
  text-align: center;
  background-color: var(--color-off-white);
}

#new-collection .collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 40px;
  backdrop-filter: blur(3px) saturate(126%);
  -webkit-backdrop-filter: blur(3px) saturate(126%);
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#new-collection .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: .9rem;
}

#models {
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: black;
  color: var(--color-white);
}

#models .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 80px;
}

#models .btns {
  display: flex;
  gap: 10px;
}

#slider {
  text-align: center;
}

#slider h2 {
  color: #000;
}

#slider .img-holder {
  width: 60%;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: end;
}

#slider img {
  width: 100%;
}

#slider a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

footer{
  width: 100%;
  background: linear-gradient(340deg, #383638 2.06%, #0B0B0B 33.08%);
  padding-bottom: 10px;
}

footer .container {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
}

footer small {
  font-size: .7rem;
  color: var(--color-primary);
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

footer input.form-control {
  padding: 10px 15px;
}

footer a.logo {
  height: fit-content;
  width: fit-content;
}

.footer-container button {
  color: #f5f5f7;
  font-weight: 600;
}

.fleft {
  flex-basis: 35%;
}

.fleft small:last-of-type {
  margin-bottom: 0;
}

.fleft small a {
  font-size: .6rem;
  color: gray;
  text-transform: capitalize;
}

.form-cont {
  background: linear-gradient(160deg, rgb(23, 24, 28), rgba(23, 26, 28, 0.51));
  width: 100%;
  padding: 35px 40px;
  position: relative;
  color: #f5f5f7;
  border-radius: 10px;
  flex-basis: 25%;
}

.form-cont h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-cont h4 span {
  color: var(--color-gray);
}

.form-cont label {
  font-size: .9rem;
  color: var(--color-gray);
  margin-bottom: 3px;
}

.form-cont .input-group {
  margin-bottom: 20px;
}

.form-cont button {
  margin-bottom: 70px;
}

.fright {
  padding: 50px 0;
  flex-basis: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .fright a {
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
}

.fright1 {
  display: grid;
  grid-template-columns: 1fr 1fr .3fr;
  row-gap: 3rem;
}

footer ul {
  list-style-type: none;
  width: 40%;
  padding-left: 0;
}


footer .icons {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 1rem;
}

footer .icons a {
  width: 2.2rem;
  height: 2.2rem;
}

footer .icon {
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .icon i {
  font-size: 1.3rem;
}

footer .copyright {
  font-size: .7rem;
  display: block;
  text-align: center;
}